.authors{
    color:white;
    padding-bottom: 0px;
    font-size: 12px;
    padding-left: 20px;
}

.topMenu {
    float:left;
    padding: 20px 0 15px 20px;
    color:white;
    font-size:20px;
    text-decoration: none;
}
.topMenu li{
    padding: 5px 0 2px 0;
    border-bottom: 1px solid ; /* Параметры линии под текстом */
    font-weight: normal;
 }
.nav > li > a {
position: relative;
display: block;
padding: 0px;
}

.hatcolor{
    padding: 20px;
    float:  top;
    background-color:#48A7C5;
   color: white;
    
}

.copyright{
    position: relative;
    top: 25px;
    color: white;
}

.left_side {
    background-color:#48A7C5;
    padding: 20px;
}
.left_side a {
color: white;
}
.left_side a:hover{
color: #428bca;
}


.logo{
    max-width:280px;
}

.vignette{
  padding: 0px 30px 18px 30px;
  max-width:280px;
  vertical-align: middle;
}

.out_link{
    padding: 20px 20px 28px 20px;
}
.soc_link_img{
    width:53px;
}

.yandex_metrika{
     position: relative;
     top: 20px;
     left :20px;
}