



.right_side{
    padding:0px;
}
img{
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
}


#counter{
    visibility:hidden;
}

.container-fluid{
    padding: 0;
}

.component{
    padding:30px;
}

.page {
    margin: 0 auto;
    width: 1280px;
}

.text_frontpage{
    color:white;
    font-size: 20px;
    position: relative;
     top: -200px;
     left :20px;
}


body {
    font-family: Georgia, sans-serif;
    background-image: url(/static/image/fon.jpg);
    background-size:cover;
    background-repeat:  no-repeat;
    background-position:  top center;
    background-attachment:  fixed;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    display: block;
    
}



p {
    margin: 0; 
    padding-bottom: 5px;
}
ul.unstyled{
    margin-left:20px;
}
ul.unstyled li{
        border-bottom: 0px solid ; /* Параметры линии под текстом */
        padding-bottom: 3px;

}


label{
display: block;
}



h1 {
    margin:  0px;
    position: relative;
    overflow: hidden;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
  }
  h1 > span {
    display: inline-block;
    margin: 0 .4em;
  }
  h1 > span:before,
  h1 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 3px solid #48A7C5;
    margin-top: .6em;
  }
  h1 > span:before {
    margin-left: -102%;
  }
  h1 > span:after {
    margin-left: 2%;
  }
  
  