
<div class=" topMenu">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'top:index' %}">Главная</a></li>    
        <li><a href="{% url 'about:Hostess' %}">O нас</a></li>    
        <li><a href="{% url 'afisha:coming' %}">Афиша</a></li> 
        <li><a href="{% url 'top:index' %}">Наши предложения</a></li>    
        <li><a href="{% url 'top:index' %}">Почитать</a></li>    
        <li><a href="{% url 'top:index' %}">Послушать и посмотреть</a></li>    
        <li><a href="{% url 'top:index' %}">Наши партнеры</a></li>    
        <li><a href="{% url 'top:index' %}">Гостевая книга</a></li>    
        <li><a href="{% url 'contact:contacts' %}">Контакты</a></li>       
    </ul>         
</div>
